# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
src/component/selectImage/

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# src/component/NewFeatured/
# https://res.cloudinary.com/futurecoder/image/upload/v1736412587/uploads/q904f81bdlf6bvdgd3li.png