.all-selected{
  border-top: 0.5px solid rgb(234, 234, 234);
}
.flexImage {
    max-width: 65vw;
   padding-top: 1.5rem;
    margin: auto;
  }
  
  .firstbox-hover-items {
    display: flex;
    gap: 20px;
  }
  
  .side-item {
    width: 8%;
    max-height: 82vh;
    overflow-y: auto;
  }
  .side-item::-webkit-scrollbar{
    display: none;
  }
  
  .side-item img {
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .side-item img:hover {
    background-color: rgba(128, 128, 128, 0.205);
  }
  
  .center-image {
    position: relative;
    width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
    overflow: visible; 
  }
  
  .scroll-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .scroll-container::-webkit-scrollbar{
    display: none;
  }
  
  .center-scroll-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    flex-shrink: 0;
  }
  
  .scroll-btn {
    position: absolute;
    bottom: 0%;
    /* transform: translateY(-50%); */
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    z-index: 10; 
  }
  
  .scroll-btn.left {
    right: 50px;
    font-size: 35px;
    overflow: hidden;
  }
  
  .scroll-btn.right {
    right: 0px;
    font-size: 35px;
    overflow: hidden;

  }
  
  .scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* right side  */

  .right-side-items-details{
    line-height: 1.8;
  }
.Top-title-para{
  font-size: 20px;
  color: rgb(168, 26, 1);
}  
.title-para{
  font-size: 22px;
}
.offer-para{
  font-size: 17px;
  color: #707072;
  font-size: poppins;

}
.texes-details{
  padding-top: 0.5rem;
}
.texes-para{
  color: #707072;
  font-size: poppins;
}
.btn-sizes{
  padding-top: 1.5rem ;
}

.btn-flex{
display: flex;
justify-content: space-between;
align-items: center;
}
.svg-span{
display: flex;
align-items: center;
gap: 10px;
}

.btn-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}
.btnSize{
  padding: 0.5rem 1.2rem ;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.btnSize.active{
  background-color: black;
  color: white;
}
.add-favourite{
  margin-top: 2rem;
  width: 100%;
}
.addBag{
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1.2rem 1.2rem ;
  border-radius: 50px;
  cursor: pointer;

}
.Favourite{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 0.8rem 1.2rem ;
  border-radius: 50px;
  border: 1px solid;
  margin-top: 1rem;
  cursor: pointer;

}

.madeByMe{
  max-width: 340px;
  margin-top: 1rem;

}
.madeByMe-para{
  color: #707072;
}
.MyName{
  float: right;
  margin-top: 1rem;
}

@media (min-width: 340px) and (max-width: 420px) {
  .flexImage {
    max-width: 75vw;
    padding-top: 1.5rem;
    margin: auto;
  }
}
@media (max-width: 800px) {
  .firstbox-hover-items {
    flex-direction: column;
  }

  .side-item {
    display: flex;
    width: 100vw; 
    max-height: 100vh; 
    overflow-x: auto; 
    overflow-y: hidden; 
    /* flex-wrap: nowrap;  */
  }

  .side-item img {
    width: 100px; 
    margin-right: 10px;
    flex-shrink: 0; 
  }

  /* Custom scrollbar styling */
  .side-item::-webkit-scrollbar {
    height: 4px; 
    display: block;
  }

  .side-item::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 4px;
  }

  .side-item::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
  }

  .center-image {
    width: 100%; 
    overflow: visible;
  }
  
  .center-scroll-image {
    width: 100%;
}
}

@media (min-width: 801px) and (max-width: 1100px) {
  .flexImage {
    max-width: 75vw;
  
}
  .center-scroll-image {
    height: 485px;
    object-fit: contain;
    border-radius: 10px;
    flex-shrink: 0;
}
.side-item {
  width: 16%;
  max-height: 65vh;
  overflow-y: auto;
}
}

